{% extends "base_new.html" %}
{% load static %}

{% block title %}
Hari Bhari - Edit Profile
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <br>
    <br>
    <br>
    <br>
    <h1>Edit Your Profile</h1>
    <div class="new_blog_form form-group">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="" value="Update Password!">
      </form>
    </div>

    <br>
    <br>
    <br>
    <br>
  {% else %}
    <p>You are not logged in and thus do not have a profile! Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to continue!</p>
  {% endif %}
{% endblock %}
