{% extends "base_new.html" %}
{% load static %}

{% block title %}
Hari Bhari - Login
{% endblock %}

{% block content %}
  {% if not user.is_authenticated %}
    <br>
    <br>
    <br>
    <br>
    <h1>Login</h1>
    <div class="new_blog_form form-group">
      <form method="POST">
        {% csrf_token %}
          <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login!</button>
      </form>
    </div>
    <h3>Don't have an account?<a href="{% url 'register' %}"> Create One!</a></h3>
    <br>
    <br>
    <br>
    <br>
  {% else %}
  <p>You are already logged in! Please <a href="{% url 'logout' %}">logout</a> to login as different user!</p>
  {% endif %}
{% endblock %}
